<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserName</key>
	<string>tv</string>
	<key>RunAtLoad</key>
	<true/>
	<key>Label</key>
	<string>com.uberzach.motion.understairs</string>
	<key>KeepAlive</key>
	<true/>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/tv/bin/video/motion/USBMicroX</string>
		<string>140227170205</string>
		<string>MOTION_STAIRS</string>
	</array>
</dict>
</plist>
