<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
	<key>LimitLoadToHosts</key>
	<array>
		<string>Loki.local</string>
		<string>loki.uberzach.com</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>Label</key>
	<string>com.uberzach.amplifier</string>
	<key>KeepAlive</key>
	<dict>
		<key>PathState</key>
		<dict>
			<key>/dev/tty.usbserial-AM01C96Q</key>
			<true/>
		</dict>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/tv/bin/video/serial/amplifier.pl</string>
	</array>
	<!--
		<key>EnvironmentVariables</key>
		<dict>
			<key>DEBUG</key>
			<string>1</string>
		</dict>
		<key>StandardErrorPath</key>
		<string>/Users/tv/Library/Logs/com.uberzach.amplifier.log</string>
	-->
</dict>
</plist>
