<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
	<key>LimitLoadToHosts</key>
	<array>
		<string>Beddy.local</string>
		<string>Loki.local</string>
		<string>beddy.uberzach.com</string>
		<string>loki.uberzach.com</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>Label</key>
	<string>com.uberzach.plexMonitor.playing</string>
	<key>KeepAlive</key>
	<dict>
		<key>NetworkState</key>
		<true/>
		<key>OtherJobEnabled</key>
		<dict>
			<key>com.uberzach.plexMonitor</key>
			<true/>
		</dict>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/tv/bin/video/plexMonitor/plexMonitor.pl</string>
		<string>0.25</string>
	</array>
</dict>
</plist>
